<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {block stylesheets}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

   <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

   <link href="{$basePath}/vendor/form-helpers/css/bootstrap-formhelpers.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css">

        {*
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/redmond/jquery-ui.css">
*}

    <link rel="stylesheet" href="{$basePath}/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/dashboard_styles.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/nav_editor.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/logo_editor.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/social_media_editor.css">
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/photogallery_component.css">

        <!-- Start of KEditor styles -->
        <link rel="stylesheet" type="text/css" href="{$basePath}/vendor/keditor/dist/css/keditor-1.1.5.css" />
        <link rel="stylesheet" type="text/css" href="{$basePath}/vendor/keditor/dist/css/keditor-components-1.1.5.css" />
        <!-- End of KEditor styles -->


    {/block}
    <title>{ifset title}{include title|stripHtml} {/ifset} </title>
    <noscript>
        This website requires javascript to function properly
    </noscript>
</head>


<body>
<div id="cover"></div>

    <div class="header navbar-fixed-top">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-1">
                <!-- Logo -->
                <div class="logo">
                    <h1><a n:href="Homepage:default">FastWeb</a></h1>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <div class="navbar navbar-inverse" role="banner">
                    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav">
                            {if $presenter->isLinkCurrent("Project:edit")}
                                <li><a id="publish" n:href="Project:publish, project_id => $presenter->getParameter('id'),pid => $presenter->getParameter('page_id')" class="btn btn-success">Publikovat</a></li>
                                <li><a data-url="{link saveTemporary!}" id="temp_save" href="#" class="btn btn-warning">Uložit</a></li>
                            {/if}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                   data-target="dropdown">{$user->getIdentity()->username} <b
                                            class="caret"></b></a>
                                <ul class="dropdown-menu fadeInUp">
                                    <li><a n:href="Project:all">Projekty</a></li>
                                    <li><a n:href="Settings:default">Nastaveni</a></li>
                                    {*<li><a href="#">Změna šablony</a></li>*}
                                    <li><a n:href='Account:out'>Logout</a></li>

                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>



        {include content}

{block scripts}
    <!-- Start of PhotoGallery components scripts -->
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/material-photo-gallery.min.js"></script>

    <!-- End of PhotoGallery components scripts -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery UI -->
    <script type="text/javascript" src="{$basePath}/vendor/keditor/plugins/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{$basePath}/vendor/nette.ajax.js"></script>
    <script src="{$basePath}/vendor/netteForms.js"></script>
    <script src="{$basePath}/vendor/form-helpers/js/bootstrap-formhelpers.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    {*<script src="http://malsup.github.io/jquery.blockUI.js"></script>*}
    <script type="text/javascript" src="{$basePath}/vendor/keditor/plugins/jquery.nicescroll-3.6.6/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="{$basePath}/vendor/keditor/plugins/ckeditor-4.5.6/ckeditor.js"></script>
    <script type="text/javascript" src="{$basePath}/vendor/ckfinder/ckfinder.js"></script>

    <script type="text/javascript" src="{$basePath}/vendor/keditor/plugins/ckeditor-4.5.6/adapters/jquery.js"></script>
    <script>CKEDITOR.dtd.$removeEmpty['span'] = false;</script>
    {*
    <script>
        CKEDITOR.dtd.$removeEmpty['a'] = false;
        $.each(CKEDITOR.dtd.$removeEmpty, function (i, value) {
            CKEDITOR.dtd.$removeEmpty[i] = false;
        });

    </script>
    *}


    <!-- Start of KEditor scripts -->

    <script type="text/javascript" src="{$basePath}/vendor/keditor/dist/js/keditor-1.1.5.js"></script>
    <script type="text/javascript" src="{$basePath}/vendor/keditor/dist/js/keditor-components-1.1.5.js"></script>
    <!-- End of KEditor scripts -->


    <script>
        $(function () {
            $.nette.init();

        });
    </script>
    <script src="{$basePath}/js/custom.js"></script>
    <script src="{$basePath}/js/nav_editor.js"></script>
    <script src="{$basePath}/js/logo_editor.js"></script>
    <script src="{$basePath}/js/social_media_editor.js"></script>

*}
{/block}


</body>
</html>
