<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{$basePath}/vendor/bootstrap/css/bootstrap.min.css">
    <link href="{$basePath}/vendor/form-helpers/css/bootstrap-formhelpers.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{$basePath}/vendor/bootstrap/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="{$basePath}/vendor/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/styles.css">
    <link rel="icon" href="{$basePath}/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{$basePath}/img/favicon.ico" type="image/x-icon">

    <title>{ifset title}{include title|stripHtml} {/ifset} </title>
</head>

<body>
    <div class="container">
        <div id="background"></div>
        <div class="row">
                {include content}

    {block scripts}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{$basePath}/vendor/jquery/jquery-3.2.1.js"></script>
        <!-- jQuery UI -->
        <script src="{$basePath}/vendor/jquery/jquery-ui.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{$basePath}/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="{$basePath}/vendor/nette.ajax.js"></script>
        <script src="{$basePath}/vendor/netteForms.js"></script>
        <script src="{$basePath}/vendor/bootstrap/js/bootstrapvalidator.min.js"></script>
        <script>
        $(function () {
            $.nette.init();
        });
        </script>
        <script src="{$basePath}/js/custom.js"></script>
    {/block}
        </div>
    </div>
</body>
</html>
