<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="G3UHiU2YpTmyeHKvbX6GnVLLDhIxw_doVyL9aoRnAYc" />
    <meta name="description" content="QuickWeb Vám nabízí možnost vytvořit si vlastní webové stránky bez žadné ználosti v oblasti vývoje webových aplikací.">
    <meta name="author" content="Cudelcu Valentin Emil">
    <meta name="keywords" content="quickweb,websitebuilder,website,create website,web pages" />

    <title>QuickWeb - Tvorba webových stránek</title>
    <link rel="icon" href="{$basePath}/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{$basePath}/img/favicon.ico" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link href="vendor/homepage/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/homepage/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/homepage/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/quickweb.png"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">O nás</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Služby</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Kontakt</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary btn-signin" n:href="Account:signin">Přihlášení</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Vytvořte si své vlastní webové stránky rychle a snadno</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">Posuňte Váš byznys o úroveň výš<br>Pomůžeme Vám mít ty nejlepší webové stránky</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" n:href="Account:signin">Začit</a>
            </div>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">Máme všechno co potřebujete!</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">QuickWeb Vám nabízí možnost vytvořit si vlastní webové stránky bez žadné ználosti v oblasti vývoje webových aplikací. Web vytvořite přímo ve Vašem prohlížeči během pár minut.</p>
                <a class="btn btn-light btn-xl js-scroll-trigger" n:href="Account:signup">Vytvořit web</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Naše služby</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Osobní stránky</h3>
                    <p class="text-muted mb-0">Vytvořte webové stránky pro sebe, mejte své portfolio</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Firemní stránky</h3>
                    <p class="text-muted mb-0">Pokud máte nějakou firmu, pomoci nás můžete mít stránky pro ni.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Jednoduchost</h3>
                    <p class="text-muted mb-0">Vytořit stránky je hračka. Nemusíte být žadný IT Guru.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Responzivní web</h3>
                    <p class="text-muted mb-0">Váš web se zobrazuje správně jak v počítači, tak na mobilu a tabletu.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Kontaktuje nás</h2>
                <hr class="my-4">
                <p class="mb-5">Máte nejaký dotaz? Neváhejte nás kontaktovat. Odpovíme Vám jak nejrychleji to bude možné</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
                <p>
                    <a href="mailto:support@quickweb.fun">support@quickweb.fun</a>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="vendor/homepage/jquery/jquery.min.js"></script>
<script src="vendor/homepage/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/homepage/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/homepage/scrollreveal/scrollreveal.min.js"></script>
<script src="vendor/homepage/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/creative.js"></script>

</body>

</html>
