parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
    debugger: true
    expiration: 14 days
    autoStart: smart
    save_path: %tempDir%/sessions
mail:
    smtp: true
    host: smtp.gmail.com
    secure: ssl
    port: 465
    username: cudelcu.valentin@gmail.com
    password: 6M0i8c7h3a3e2l6a4

services:
	router: App\RouterFactory::createRouter
	- App\Model\Users
	- App\Model\ProjectManager
	- App\Model\PageManager
	- App\Model\NavManager
	- App\Model\UserRequest
	- App\Model\ProjectTempDataManager
	- App\Model\EmailNotification(%appDir%/presenters/templates/Emails/)
	authenticator: Authenticator


