<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Obnoveni hesla</title>
</head>
<body>
    <h2>Obnovení hesla</h2>
    <p>Pro obnovení hesla klikněte na následující odkáz:</p>
    <p><a href="http://127.0.0.1/websitebuilder/www/account/reset-password?email={$email}&token={$token}"</p>
    <br>
    <p>Přejem Vám hezký den</p>
    <p>FastWeb tým</p>
</body>
</html>?
