<!-------------------------------------------------------------------------------------------------->
<!-- Containers -->
<!-------------------------------------------------------------------------------------------------->
<div data-type="container" data-preview="../../../vendor/keditor/snippets/default/preview/row_12.png" data-keditor-title="1 sloupec" data-keditor-categories="1 sloupec">
    <div class="row">
        <div class="col-sm-12" data-type="container-content">
        </div>
    </div>
</div>


<div data-type="container" data-preview="../../../vendor/keditor/snippets/default/preview/row_6_6.png" data-keditor-title="2 sloupce (50% - 50%)" data-keditor-categories="2 sloupce">
    <div class="row">
        <div class="col-sm-6" data-type="container-content">
        </div>
        <div class="col-sm-6" data-type="container-content">
        </div>
    </div>
</div>

<div data-type="container" data-preview="../../../vendor/keditor/snippets/default/preview/row_4_8.png" data-keditor-title="2 sloupce (33% - 67%)" data-keditor-categories="2 sloupce">
    <div class="row">
        <div class="col-sm-4" data-type="container-content">
        </div>
        <div class="col-sm-8" data-type="container-content">
        </div>
    </div>
</div>

<div data-type="container" data-preview="../../../vendor/keditor/snippets/default/preview/row_8_4.png" data-keditor-title="2 sloupce (67% - 33%)" data-keditor-categories="2 sloupce">
    <div class="row">
        <div class="col-sm-8" data-type="container-content">
        </div>
        <div class="col-sm-4" data-type="container-content">
        </div>
    </div>
</div>

<div data-type="container" data-preview="../../../vendor/keditor/snippets/default/preview/row_4_4_4.png" data-keditor-title="3 sloupce (33% - 33% - 33%)" data-keditor-categories="3 sloupce">
    <div class="row">
        <div class="col-sm-4" data-type="container-content">
        </div>
        <div class="col-sm-4" data-type="container-content">
        </div>
        <div class="col-sm-4" data-type="container-content">
        </div>
    </div>
</div>

<div data-type="container" data-preview="../../../vendor/keditor/snippets/default/preview/row_3_6_3.png" data-keditor-title="3 sloupce (25% - 50% - 35%)" data-keditor-categories="3 sloupce">
    <div class="row">
        <div class="col-sm-3" data-type="container-content">
        </div>
        <div class="col-sm-6" data-type="container-content">
        </div>
        <div class="col-sm-3" data-type="container-content">
        </div>
    </div>
</div>

<div data-type="container" data-preview="../../../vendor/keditor/snippets/default/preview/row_3_3_3_3.png" data-keditor-title="4 sloupce (25% - 25% - 25% - 25%)" data-keditor-categories="4 sloupce">
    <div class="row">
        <div class="col-sm-3" data-type="container-content">
        </div>
        <div class="col-sm-3" data-type="container-content">
        </div>
        <div class="col-sm-3" data-type="container-content">
        </div>
        <div class="col-sm-3" data-type="container-content">
        </div>
    </div>
</div>

<!-------------------------------------------------------------------------------------------------->
<!-- Components -->
<!-------------------------------------------------------------------------------------------------->



<div data-type="component-text" data-preview="../../../vendor/keditor/snippets/default/preview/text.png" data-keditor-title="Blok s textem" data-keditor-categories="Text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro labore architecto fuga tempore omnis aliquid, rerum numquam deleniti ipsam earum velit aliquam deserunt, molestiae officiis mollitia accusantium suscipit fugiat esse magnam eaque cumque, iste corrupti magni? Illo dicta saepe, maiores fugit aliquid consequuntur aut, rem ex iusto dolorem molestias obcaecati eveniet vel voluptatibus recusandae illum, voluptatem! Odit est possimus nesciunt.</p>
</div>

<div data-type="component-photogallery" data-preview="../../../vendor/keditor/snippets/default/preview/photogallery.png" data-keditor-title="Fotogalerie" data-keditor-categories="Media;Obrazek">
    <div class="photogallery-container">

        <div class="feature">
            <figure class="featured-item image-holder r-3-2 transition"></figure>
        </div>

        <div class="gallery-wrapper">
            <div class="gallery">
                <div class="item-wrapper">
                    <figure class="gallery-item image-holder r-3-2 transition"></figure>
                </div>
                <div class="item-wrapper">
                    <figure class="gallery-item image-holder r-3-2 transition"></figure>
                </div>
                <div class="item-wrapper">
                    <figure class="gallery-item image-holder r-3-2 transition"></figure>
                </div>
                <div class="item-wrapper">
                    <figure class="gallery-item image-holder r-3-2 transition"></figure>
                </div>
                <div class="item-wrapper">
                    <figure class="gallery-item image-holder r-3-2 transition"></figure>
                </div>
                <div class="item-wrapper">
                    <figure class="gallery-item image-holder r-3-2 transition"></figure>
                </div>
                <div class="item-wrapper">
                    <figure class="gallery-item image-holder r-3-2 transition"></figure>
                </div>
                <div class="item-wrapper">
                    <figure class="gallery-item image-holder r-3-2 transition"></figure>
                </div>
                <div class="item-wrapper">
                    <figure class="gallery-item image-holder r-3-2 transition"></figure>
                </div>
                <div class="item-wrapper">
                    <figure class="gallery-item image-holder r-3-2 transition"></figure>
                </div>
            </div>
        </div>

        <div class="controls">
            <button class="move-btn left">&larr;</button>
            <button class="move-btn right">&rarr;</button>
        </div>

    </div>
</div>


<div data-type="component-photo" data-preview="../../../vendor/keditor/snippets/default/preview/photo.png" data-keditor-title="Obrázek" data-keditor-categories="Media;Obrazek">
    <div class="photo-panel">
        <img src="../../../vendor/keditor/snippets/default/img/somewhere_bangladesh.jpg" width="100%" height="" />
    </div>
</div>

<div data-type="component-audio" data-preview="../../../vendor/keditor/snippets/default/preview/audio.png" data-keditor-title="Audio" data-keditor-categories="Media">
    <div class="audio-wrapper">
        <audio src="http://www.noiseaddicts.com/samples_1w72b820/2558.mp3" controls style="width: 100%"></audio>
    </div>
</div>

<div data-type="component-video" data-preview="../../../vendor/keditor/snippets/default/preview/video.png" data-keditor-title="Video" data-keditor-categories="Media">
    <div class="video-wrapper">
        <video width="320" height="180" controls style="background: #222;">
            <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4" />
            <source src="http://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg" />
        </video>
    </div>
</div>

<div data-type="component-youtube" data-preview="../../../vendor/keditor/snippets/default/preview/youtube.png" data-keditor-title="Youtube" data-keditor-categories="Media">
    <div class="youtube-wrapper">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/P5yHEKqx86U"></iframe>
        </div>
    </div>
</div>


<div data-type="component-vimeo" data-preview="../../../vendor/keditor/snippets/default/preview/vimeo.png" data-keditor-title="Vimeo" data-keditor-categories="Media">
    <div class="vimeo-wrapper">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/2203727?byline=0&portrait=0&badge=0"></iframe>
        </div>
    </div>
</div>


<div data-type="component-googlemap" data-preview="../../../vendor/keditor/snippets/default/preview/googlemap.png" data-keditor-title="Mapa Google" data-keditor-categories="Gmap">
    <div class="googlemap-wrapper">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14897.682811563638!2d105.82315895!3d21.0158462!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1456466192755"></iframe>
        </div>
    </div>
</div>

</div>


<div data-type="component-text" data-preview="../../../vendor/keditor/snippets/default/preview/heading_2.png" data-keditor-title="Nadpis 2" data-keditor-categories="Text;Nadpis">
    <h2>Heading text 2</h2>
    <p>Body text</p>
</div>

<div data-type="component-text" data-preview="../../../templates/spatial/snippets/preview/media_panel.png" data-keditor-title="Media Panel" data-keditor-categories="Media;Obrazek;Komponenta">
    <div class="row">
        <div class="col-md-12">
            <div class="image fit captioned">
                <img src="../../../templates/spatial/images/pic02.jpg" alt="" />
                <h3 class="text-center">Lorem ipsum dolor sit amet.</h3>
            </div>
        </div>
    </div>
</div>

<div data-type="component-text" data-preview="../../../templates/spatial/snippets/preview/feature.png" data-keditor-title="Doporučený článek" data-keditor-categories="Text;Nadpis;Obrazek">
    <div class="row">
        <div class="feature-grid">
            <div class="feature">
                <div class="col-md-6 text-center image rounded"><img src="../../../templates/spatial/images/pic05.jpg" alt=""/></div>
                <div class="col-md-6 content">
                    <header>
                        <h4>Recusandae nemo</h4>

                        <p>Ratione maiores a, commodi</p>
                    </header>
                    <p>Animi mollitia optio culpa expedita. Dolorem alias minima culpa repellat. Dolores, fuga
                        maiores
                        ut obcaecati blanditiis, at aperiam doloremque.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-type="component-text" data-preview="../../../vendor/keditor/snippets/default/preview/snippet_07.png" data-keditor-title="Seznam článků" data-keditor-categories="Text;Nadpis;Obrazek">
    <div class="row">
        <div class="col-md-4 text-center">
            <img class="img-circle img-responsive" style="display: inline-block;" src="../../../vendor/keditor/snippets/default/img/somewhere_bangladesh_squared.jpg" />
            <h3>Lorem ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, alias, temporibus? Vero natus modi ipsa debitis, accusamus accusantium cum quam. Saepe atque quisquam pariatur voluptatem expedita nesciunt reprehenderit et vitae.</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-circle img-responsive" style="display: inline-block;" src="../../../vendor/keditor/snippets/default/img/wellington_newzealand_squared.jpg" />
            <h3>Lorem ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, aut, earum. Quod, debitis, delectus. Maxime eius ipsam sit dolorum perspiciatis obcaecati consectetur, explicabo reprehenderit repellat tempore veniam eos ducimus! Dignissimos.</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-circle img-responsive" style="display: inline-block;" src="../../../vendor/keditor/snippets/default/img/yenbai_vietnam_squared.jpg" />
            <h3>Lorem ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatibus dicta corrupti aliquam, natus voluptatem pariatur quidem nostrum nisi corporis id ratione exercitationem et recusandae incidunt assumenda soluta qui odit.</p>
        </div>
    </div>
</div>



