
/*----------------------------------------------------------------------------------------*/
* {
    box-sizing: border-box;
}

body {
    background-image: url("https://subtlepatterns.com/patterns/sativa.png");
    font-family: 'Work Sans', sans-serif;
}
#cover {
    background: url("../img/loader.gif") no-repeat scroll center center #fcfefc;
    z-index:9999;
    position: absolute;
    height: 100%;
    width: 100%;
}

a:focus {
    color:white;
    border-color:white;
}

.title {
    text-align: center;
    font-family: 'Oswald';
    font-weight: 100;
    font-size: 3.75rem;
    letter-spacing: 5px;
    background: linear-gradient(rgba(255, 0, 0, 0), #444, rgba(255, 0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
}
@media screen and (min-width: 37.5em) {
    .title {
        font-size: 4.75rem;
    }
}

.case-study-gallery .text {
    margin: 0 auto 2rem;
    text-align: center;
    font-family: 'oswald';
    font-size: 1.50rem;
    color: #444;
    font-weight: 100;
    width: 90%;
}
@media screen and (min-width: 37.5em) {
    .text {
        height: 70%;
    }
}

.myborder{
    background-color:white;
    margin-top:150px;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 4px;
    -webkit-box-shadow: -1px 3px 27px 10px rgba(122,193,240,1);
    -moz-box-shadow: -1px 3px 27px 10px rgba(122,193,240,1);
    box-shadow: -1px 3px 27px 10px rgba(122,193,240,1);
}

.case-study-gallery {
    margin-top: 50px;
    width: 90%;
    margin: 50px auto;

}

.case-study {
    position: relative;
    display: block;
    width: 90%;
    height: 250px;
    margin: 0 auto 2rem;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: all .4s ease;
}
@media screen and (min-width: 37.5em) {
    .case-study {
        height: 225px;
    }
}
@media screen and (min-width: 45em) {
    .case-study {
        display: inline-block;
        width: 22.5%;
        margin-left: 25px;
    }
}

.case-study__img {
    width: 90%;
    display: block;
    margin-top: 50%;
    transform: translateY(50%);
    margin: 0 auto;
}

.case-study__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}
.case-study__overlay:hover .add_template{
    color: white;
}
.case-study__overlay:after {
    content: '';
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background-color: #202020;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -10;
    left: 0;
    transition: all .3s ease;
}

.case-study__title {
    position: relative;
    top: -200px;
    margin-bottom: 2rem;
    margin-top: 4rem;
    font-size: 2.25rem;
    font-family: 'Oswald';
    font-weight: 100;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}

.case-study__link {
    position: relative;
    display: block;
    width: 60%;
    top: 200px;
    padding: 10px;
    margin: 0 auto;
    font-family: 'Oswald';
    color: white;
    letter-spacing: 3px;
    text-decoration: none;
    text-align: center;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 1.25em;
    transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}
.case-study__link:hover {
    background-color: white;
    color: #202020;
}

.case-study:hover .case-study__title {
    top: 0;
}
.case-study:hover .case-study__link {
    top: 0;
}
.case-study:hover .case-study__overlay:after {
    opacity: .75;
}


/* Logo & Navigation */

.header{
    height:50px;
    background-color: #2c3742;
}

.header .logo h1{
    font-size:30px;
    margin:0px;
    padding:10px 0px;
}

.header .logo h1 a{
    color:#fff;
    font-family: 'Open Sans Condensed', sans-serif;
}

.header .logo h1 a:hover{
    color:#fff;
    text-decoration:none;
    border:0px;
}


.header .navbar *{
    box-shadow:none !important;
}

.header .navbar{
    background:none !important;
    border:0px !important;
}

.header .navbar i{
    margin-right:3px;
}

.header .navbar .nav > li > a{
    color:#fff !important;
    font-size:13px !important;
    border-bottom:0px !important;
    margin-top:0px !important;
    font-weight:bold;
}

.header .navbar-nav>.open>a,
.header .navbar-nav>.open>a:hover,
.header .navbar-nav>.open>a:focus {
    background:none;
}

.header .navbar-collapse{
    border:0px !important;
}

.header .navbar-header{
    width:43px;
    margin:0 auto;
}

.header .navbar-header button{
    color:#fff !important;
    padding:5px 10px;
}

.header .navbar-toggle{
    background-color: #1dc1da !important;
    border:1px solid #0fa6bc !important;
}

.header .navbar-toggle:hover, .header .navbar-toggle:focus {
    background-color: #0fa6bc !important;
    border:1px solid #0fa6bc !important;
}

.dropdown-menu{
    border-radius:6px !important;
    background:#fff !important;
}

.dropdown-menu li{
    font-size:13px;
    padding:6px 15px;
    border-bottom:1px dashed #f3f3f3;
}

.dropdown-menu li a {
    color:#888 !important;
    padding-left:0px !important;
}

.dropdown-menu li:last-child{
    border:0px;
}

.dropdown-menu li a:hover{
    background:none !important;
    color:#666 !important;
    border:0px !important;
}

.dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.open .dropdown-menu {
    max-height: 300px;
    opacity: 1;
}

/*----------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------Tablets----------------------------------------------*/
/* Tablets */
@media (max-width: 767px){
    .container{
        width:100%;
    }
    .header{
        height:auto;
        padding:15px 0px;
    }
    .header .logo{
        text-align:center;
        padding-bottom:10px;
    }
    .header .navbar .nav > li > a:hover{
        background:#0fa6bc;
        border-radius:5px;
    }
    .navbar-toggle {
        margin-right:0px !important;
    }
}

/* Desktop */

@media (max-width: 991px){
    .header{
        height:auto;
        padding:15px 0px;
    }
    .header .logo{
        text-align:center;
        padding-bottom:10px;
    }
    .header .form{
        margin:10px auto;
    }
    .sidebar, content-box{
        margin-bottom:30px;
        width:100%;
        float:none;
        position:relative;
    }
    .mainy{
        margin-left: 0px;
    }
    .sidebar-dropdown{
        display:block;
        text-align:center;
        margin:0 auto;
        margin-bottom:10px;
        border-bottom:1px dashed #eee;
        padding-bottom:10px;
    }
    .sidebar-dropdown a, .sidebar-dropdown a:hover{
        color:#fff;
        background:#16cbe6;
        display:block;
        padding:6px 12px;
        border-bottom:0px;
        box-shadow:0px 0px 1px #0fa6bc;
        border-radius:10px;
    }
}


/* Content Box - See Nastaveni */
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.panel-default>.panel-heading{
    background:#2c3742;
    color: white;
}




.btn-u:hover, .btn-u:focus, .btn-u:active, .btn-u.active, .open .dropdown-toggle.btn-u {
    opacity:0.8;
}
.btn-u:hover {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-u {
    width:200px;
    white-space: nowrap;
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background: #2c3742;
    display: inline-block;
    text-decoration: none;
}

.add_template {
    font-size: 50px;
    position: absolute;
    color:#202020;
    opacity: .75;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

.case-study-addSite {
    position: relative;
    width: 50%;
    left: 20%;
    text-align: center;
}


#photogalleryModal .image_box {
    cursor: move;
}

#photogallery_images {
    margin:0;
    width:100%;
    height:500px;
    overflow-x:hidden;
    overflow-y:scroll;
}

#collapse2 a:active,#collapse2 a:link,#collapse2 a:visited{
    color:#337ab7;
}

.deletePage{
    float:right;
}

#active{
    color:white;
    line-height: 1.8;
    font-size:16px;
    text-align:center;

}

#public-link{
    color: #797979;
    font-size:1.5rem
}
#public-link:hover,#public-link:focus{
    color: #2177d0;
    border-bottom-color: rgba(33,119,208,.6);
    font-size:1.5rem;
}

.btn-warning:hover {
    color: #fff !important;
    background-color: #ec971f !important;
    border-color: #d58512;
}

.btn-success:hover {
    color: #fff !important;
    background-color: #449d44 !important;
    border-color: #398439;
}
.edit-icon {
    width: 90px; /* Set a specific width */
    margin: auto;
    margin-bottom: 20px;

}

#logo_edit,#menu_edit,#social_media_icon {
    background-color: rgba(211,211,211,.2);
    border: 1px solid rgba(211,211,211,.35);
    transition: background-color .1s ease-in-out,border-color .1s ease-in-out;
    font-size:25px;
    border-radius:10px;
    padding: 4px 12px;
    color:#A9A9A9 !important;
    height:auto;
    text-decoration:none;
}

#logo_edit:hover,#menu_edit:hover,#social_media_icon:hover{
    background-color: rgba(211,211,211,.5);
    border: 1px solid rgba(211,211,211,.45);
    text-decoration:none;
}


/*
#logo_container a {
    padding: 10px;
    text-decoration: none;
    color: #FFF;
    border-radius:10px;
}
*/


#menu_edit span,#logo_edit span,#social_media_icon span{
    font-size: 25px;
    color:#A9A9A9 !important;
}