
.left-vline {  border-left: 1px solid #e5e5e5;  }

.modal-body ul {
    margin: 0; /* To remove default bottom margin */
    padding: 0; /* To remove default left padding */
    list-style-type: none;
}

.modal-body li {
    line-height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.padding-left {
    padding-left: 5px;
}

.modal-menu-links{

    color:#007bff;
    text-align:left;

}

.modal-menu-links:hover {  color:red;  text-decoration:none;  }


.margin-top {
    margin-top:20px;
}

#page_text a {
    width:100%;
    font-size: 2em; /* h3 tag font size */
    color:#777;
    float:left;
    padding:0;
    margin:0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#edit_menu_icon {
    font-size:15px;
    color:#777;
    visibility: hidden;
}

#page_text a:hover #edit_menu_icon {  visibility: visible;  }

#menu_edit {
    padding-left:20px;
    visibility: hidden;
}

#menu:hover #menu_edit { visibility: visible}

#page_edit {
    display:none;
}

#menu_item_input{
    float:left;
    font-size:2em;
}
