
.left-vline {  border-left: 1px solid #e5e5e5;  }

.modal-body ul {
    margin: 0; /* To remove default bottom margin */
    padding: 0; /* To remove default left padding */
    list-style-type: none;
}

.modal-body li {
    line-height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.padding-left {
    padding-left: 5px;
}

.modal-menu-links,.modal-menu-links:focus, .modal-menu-links:active,.modal-menu-links:visited{
    text-decoration:none;
    color:#007bff;
    text-align:left;

}

.modal-menu-links:hover {  color:red;  text-decoration:none;  }


.margin-top {
    margin-top:20px;
}

#nav_title a {
    width:100%;
    font-size: 2em; /* h3 tag font size */
    color:#777;
    float:left;
    padding:0;
    margin:0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#edit_menu_icon {
    font-size:15px;
    color:#777;
}

#nav_title a:hover #edit_menu_icon {  color:#000 }
#nav_title a:hover {  color:#000;text-decoration:underline  }

#page_form {
    display:none;
}

#menu_item_input{
    float:left;


}

.hide {
    display:none !important;
}

.show {
    display:inline-block;
}

#page_items {
    cursor: move;
}

