

.social-icon:hover #social_media_icon { visibility: visible}

.padding-left {
    padding-left: 5px;
}

.modal-social-media-links,.modal-social-media-links:focus,.modal-social-media-links:active,.modal-social-media-links:visited{
    text-decoration:none;
    color:#007bff;
    text-align:left;

}

.modal-social-media-links:hover {  color:red;  text-decoration:none;  }

#social_media_edit {
    display:none;
}
